/* 通用样式 */
@font-face{
     font-family: 'FZLTCHJW'; 
     src: url('./FZLTCHJW.ttf');
}
@font-face{
     font-family: 'HYQIHEI-55S'; 
     src: url('./HYQIHEI-55S.OTF');
}
*{
	box-sizing: border-box;
	font-family: 'FZLTCHJW';
}
*{
	padding: 0;
	margin: 0;
}
/* 清除默认样式 */
a:link,
a:hover,
a:active,
a:visited{
  text-decoration: none;
}
a:{
  -webkit-tap-heighlight-color: transparent;
}
button{
	margin: 0;
	padding: 0;
	border: 1px solid transparent; /* 自定义边框 */
	outline: none;    /* 消除默认点击蓝色边框效果 */
}
.text-c{
	text-align: center;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-row{
	display: flex;
	flex-direction: row;
}
.align-center{
	align-items: center;
}
.align-start{
	align-self: flex-start;
}
.align-end{
	align-self: flex-end;
}
.flex-justify{
	justify-content: space-between;
}
.justify-center{
	justify-content: center;
}
.flex-full{
	flex: 1;
}
.bold{
	font-weight: 600;
}
.toast{
	padding: 15px 20px;
	color: white;
	background: rgba(0,0,0,0.6);
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-size: 1rem;
	border-radius: 5px;
	z-index: 99;
}
/* *{
	font-family: "FZLTCHJW";
	color: yellow;
} */

/* 页面样式 */
body{
	position:relative;
	min-height: 100vh;
}
/* 媒体查询 */
html{
	font-size: 12px;
}
@media (min-width: 1600px) {
    html{
    	font-size: 16px ;
    }
}
@media (min-width: 2500px) {
    html{
    	font-size: 18px ;
    }
}
.header,.header-active{
	position: fixed;
	left: 0;
	top: 0;
	height: 4rem;
	display: block;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color:rgba(0,0,0,0.5);
	min-width: 74rem;
	z-index: 51;
}
.header-active{
	background: -moz-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
	background: -webkit-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
	background: -o-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
}
footer{
	display: block;
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}
container{
	display: block;
	width: 100%;
}
/* 头部状态栏样式 */
.header-icon{
	height: 1.8rem;
	margin-left: 1.7rem;
}
.change-language{
	margin-left: 1.3rem;
}
.language{
	font-size: 1.1rem;
	padding: 0 0.2rem;
	color: #8ADBEB;
	cursor: pointer;
}
.language-active{
	color: white;
}
.header-nav,.header-nav-active{
	color: #9EADFE;
	height: 2.4rem;
	width: 6.2rem;
	line-height: 2.4rem;
	text-align: center;
	cursor: pointer;
}
.header-nav-active{
	color: #00FFFF;
	border:#00FFFF solid 1px;
	box-sizing: content-box;
}
.header-face{
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 3.5rem;
	display: none;
}
.toLogin{
	margin-right: 3.5rem;
	line-height: 1;
	cursor: pointer;
}
.header-cancel{
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	margin-right: 3.7rem;
	display: none;
}
.header-item{
	width: 1rem;
	height: 1rem;
	cursor: pointer;
	margin-right: 3.7rem;
}
.header-search{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: 1.4rem;
	display: none;
}
.toLogin{
	font-size: 1.2rem;
	color: white;
}
.user-info-box{
	position: absolute;
	right: 15rem;
	bottom: 0;
	transform: translate(0,100%);
	background-color: white;
	width: 16rem;
	height: 13rem;
}
.user-face{
	height: 3.7rem;
	width: 3.7rem;
	margin: 0.7rem;
}
.user-name{
	color: #1B1464;
	font-size: 1rem;
	font-weight: 600;
}
.user-email{
	color: #898989;
	font-size: 1rem;
}
.personalPage{
	border-top: 1px solid #BFBFBF;
}
/* index.html */
.header-left,.header-center,.header-right,.change-language{
	display: flex;
	flex-direction: row;
}
.footer-info{
	display: flex;
	flex-direction: row;
	color: #757575;
}
.footer-left,.footer-right{
	width: 50%;
	box-sizing: border-box;
	color: ##757575;
	display: flex;
	flex-direction: column;
}
.footer-left{
	align-items: center;
	padding-bottom: 2.1rem;
}
.header-left,.header-right{
	width: 15rem;
}
.header-right{
	justify-content: flex-end;
}
.footer-right{
	flex-direction: row-reverse;
}
.footer-name{
	font-size: 1.7rem;
}
.footer-copyright{
	height: 2.4rem;
	line-height: 2.4rem;
	font-size: 1rem;
	color: white;
	text-align: center;
	background: -moz-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
	background: -webkit-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
	background: -o-linear-gradient(left, rgb(0,255,255), rgb(3,50,224), rgb(255,125,218));
}

